* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Karla', sans-serif;
}

:root {
  --black: #1f2937;
  --green: #10b981;
  --gray: #6b7280;
  --white: #fff;
}

body {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0.625rem;
}

.container-body {
  width: 100%;
  min-width: 25.3125rem;
  max-width: 34.375rem;
  background-color: var(--gray);
  border-radius: 0.28rem;
  padding: 2rem 1rem;
  box-shadow: 0.15625rem 0.1625rem 0.11875rem var(--green)
}

h1 {
  max-width: 22.125rem;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
}

h1 > span {
  color: var(--green);
}

p {
  margin-top: 0.625rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #d5d4d8;
}

button {
  margin-top: 3.1875rem;
  background-color: var(--green);
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.125rem;
  color: var(--white);
  padding: 9px 17px;
  cursor: pointer;
  border-color: var(--green);
  border-radius: 0.3125rem;
}

.underline {
  border: 0.0625rem solid var(--black);
}

.underline,
.container-generated-passwords {
  margin-top: 2.1875rem;
}

.container-generated-passwords {
  display: flex;
  justify-content: space-between;
}

#generated-password1,
#generated-password2 {
  background-color: var(--black);
  width: 13.1875rem;
  height: 3.25rem;
  left: 3.25rem;
  top: 24.75rem;
  border-radius: 0.3125rem;
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

#generated-password1 {
  margin-right: 0.3125rem;
}

#generated-password1 {
  margin-left: 0.3125rem;
}
